/* 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html>body{
  font-family: 'Pretendard-Regular';
}

/* 노멀라이즈 */
body,
ul,
li,
h1,
h2,
h3,
span,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img{
  display:block;
}

*{
  color:#222;
}

/* 라이브러리 */
.border-r {
  border: 1px solid red;
}

/* 변수 */
:root {
  --font-weight-B : 700;
  --font-weight-SB : 600;
  --font-weight-M : 500;
  --font-weight-R : 400;
}

/* 커스텀 */